# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
venv/
.venv/
env/
build/
dist/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# W&B and artifacts
wandb/
artifacts/
*.joblib

# Docker
*.tar
